@charset "utf-8";
/* CSS Document */

body{
	width:100%;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color:#0FC;
}



#store-raiting{
	float:left;
}

#store-distance{
	float:right;
}

.clear{
	clear:both;
}


.store-results{
	display:none;
	background-color:#E9E9E2;
	padding:20px;
	margin-bottom:2px;
}

a #location-link{
	display:block;
	text-decoration:none;
}

#location-content a{
	text-decoration:none;
}

#location-link :hover{
	background-color:#E9E9E9;
}