@charset "utf-8";
/* CSS Document */

body{
	width:100%;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.container{
	width:50%;
	margin:0 auto;
}

#store-results-left, #store-results-right{
	position:relative;
	float:left;
	width:50%;
}


#store-distance, #store-raiting{
	float:left;
}


.store-results{
	display:none;
}
