@charset "utf-8";
/* CSS Document */

body{
	width:100%;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}



#store-raiting{
	float:left;
}

#store-distance{
	float:right;
}

.clear{
	clear:both;
}


.store-results{
	display:none;
	background-color:#CCC;
	padding:20px;
	margin-bottom:2px;
}
