<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Go Find Coffee is like the nose you never had. It helps you sniff out the best coffee nearby. Just click and discover the best coffee at your location. Never go without coffee again with this nifty web-app.">
    <meta property="og:title" content="Go Find Coffee - Discover the best coffee nearby" />
    <meta property="og:image" content="https://gofindcoffee.com/images/find-coffee-og.jpg" />
    <meta property="og:url" content="https://gofindcoffee.com" />
    <meta property="og:description" content="GoFindCoffee is like the nose you never had. It helps you sniff out the best coffee nearby. Just click and discover the best coffee at your location." />

    <link rel="icon" type="image/png" href="images/favicon.ico">
    <title>Go Find Coffee - Discover the best coffee nearby</title>

    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Dosis:300|Lato' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css" type="text/css" />

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="js/gfc-script.js" type="text/javascript"></script>

</head>
<body ng-app="GoFindCoffee" ng-controller="MainController">
    <div class="container">
        <div class="row">

            <div class="col-md-3 col-md-offset-2">
                <div class="logo">
                    GO<br>FIND<br>COFFEE
                </div>
                <div class="address">
                    You are near<br>{{location.formatted_address}}.
                    Weather is {{weather.currently.summary}},
                    {{weather.currently.temperature}}&#176;C
                </div>
            </div>

            <div class="col-md-5">

                <div class="loading" ng-show="loading">
                    <img SRC="images/magnify.gif"> Searching...
                </div>

                <div class="no-result" ng-show="stores.length === 0">
                    <div>
                        <p style="font-size: 15px;">Sorry, we are unable to locate coffee near your location.</p>
                        <p>
                            This could be because of the lack of data available to us for your current
                            location or that the nearest coffee location is not within 700m of where you are at.
                        </p>
                        <p>
                            gofindcoffee is built to help people find coffee within a walkable distance.
                            After much testing among friends and family, I found that 700m is a fair distance
                            to walk for good coffee.
                        </p>
                        <p style="margin: 0;">
                            If you need coffee desperately, please check out our friends at
                            <a target='_blank' href="http://www.beanhunter.com">beanhunter.com</a>,
                            <a target='_blank' href="http://www.urbanspoon.com">urbanspoon.com</a> or
                            <a target='_blank' href="https://foursquare.com">foursquare.com</a>
                        </p>
                    </div>
                </div>

                <ul class="result-list" ng-if="stores.length > 0">
                    <li ng-repeat="store in stores | orderBy : 'venue.location.distance'">
                        <a target='_blank'
                            href="http://maps.google.com/maps?saddr=My+Location&daddr={{store.venue.location.lat}},{{store.venue.location.lng}}&dirflg=w">
                            <div>
                                <span style="font-size: 20px; display: inline-block; margin-bottom: 3px;">{{store.venue.name}}</span><br/>
                                {{store.venue.location.formattedAddress[0]}}
                                {{store.venue.location.formattedAddress[1]}}<br/>
                                {{store.venue.rating}} / 10<br/>
                                <span style="font-size: 16px; display: inline-block; margin-top: 5px;">{{store.venue.location.distance}}m</span>
                            </div>
                        </a>
                    </li>
                </ul>

                <div style="background-color: #ffffff;">
                    A weekend project by stng / modified by xinsnake
                </div>

            </div>
        </div>
    </div>
</body>
</html>
